 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-group-1 {
  width: 530px;
  min-height: 413px;
  background-image: none;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  margin: 1px auto 0;
}

.u-section-1 .u-form-1 {
  height: 56px;
  margin: 38px 0 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  margin: -66px auto 0;
  padding: 13px 184px 13px 183px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 60px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -39px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-right: 47px;
  }
}