 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-1 .u-image-1 {
  width: 522px;
  height: 369px;
  object-position: 50% 6.17%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  width: 559px;
  font-weight: 700;
  text-transform: none;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  width: 450px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 240px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}